body {
  background-image: url("../images/background_catalog.jpg");
  background-size: auto;
  background-color: black;
}

.quicknav {
  float: left;
  height: 300px;
  width: 200px;
  border-radius: 15px;
  background-color: #272b30;
  padding-left: 15px;
  margin-left: 15px;
}

#newAddition {
	background-image: url("../images/catalog_new.jpg");
	background-size: cover;
	height: 600px;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 0;
}

#newAddition #newContent {
	float: left;
	color: white;
	padding-left: 2em;
}

#classicsSpecial {
	text-align: center;
	margin-bottom: 0;
	padding: 1.5em;
	padding-bottom: 0.5em;
}

td {
  padding: 10px;
  border-bottom: solid 1px black;
  padding-right: 1em;
}

thead th {
  text-align: center;
  background-color: grey;
}

table {
  background-color: darkgrey;
}

tbody tr:nth-child(odd) {
  background-color: grey;
}

.col-md-9 {
	margin-top: 1.5em;
}

.col-md-3 {
	margin-top: 1.5em;
}
