body {
  background-image: url("../images/background_catalog.jpg");
  background-size: auto;
  background-color: black;
}

.head {
  margin: 0;
}

#newAddition {
	background-image: url("../images/catalog_new.jpg");
	background-size: cover;
	height: 600px;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 0;
}

#newAddition #newContent {
	float: left;
	color: white;
	padding-left: 2em;
}

#classicsSpecial {
	text-align: center;
	margin-bottom: 0;
	padding: 1.5em;
	padding-bottom: 0.5em;
}

.panel {
	background-color: rgb(200, 200, 200);
	border: 0;
}

#orderPanel {
	background-color: white;
}

.col-md-9 {
	margin-top: 0.5em;
}

.col-md-3 {
	margin-top: 0.5em;
}

#quickBar {
	color: white;
	margin-top: 0.5em;
}
